* {
    box-sizing: border-box;
    background-color: bisque;
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin: 14px 8px; /* Уменьшенный код для задания отступов */
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Добавлено для вертикального выравнивания элементов */
}

.Logo {
    height: 500px;
    width: 500px;
    margin-top: 10px; /* Новое значение отступа сверху */
}


.Name_kafe {
    font-family: Snell Roundhand, cursive;
    font-size: 55px;
    white-space: nowrap;
    margin-left: px;
}